/* ABOUT AND NOT FOUND PAGE */
.about,
.notfound {
  color: #eee;
  padding: 2%;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  .aboutwrap,
  .notfoundwrap {
    overflow: auto;
    padding: 8px;

    a {
      color: #eee;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    a,
    p {
      margin: 6px 0;
    }

    h2,
    h1 {
      font-family: 'brush';
    }

    h1 {
      font-size: 58px;
      margin: 0;
    }

    h2 {
      margin: 25px 0 6px 0;
    }

    .btn {
      height: 4rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      min-height: 4rem;
      font-size: 1.125rem;
      display: inline-flex;
      flex-shrink: 0;
      cursor: pointer;
      -webkit-user-select: none;
      user-select: none;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      border: 2px solid #eee;
      text-align: center;

      svg {
        margin-right: 8px;
      }
    }
  }

  .aboutwrap {
    height: 100%;
  }

  .notfoundwrap {
    text-align: center;

    h1 {
      font-size: 82px;
    }
    h2 {
      margin: 6px 0 20px 0;
    }
  }
}
